// _bodycontent.scss
#body-container {
  #content {
    //border: 1px solid yellow;

    section {
      //border: 1px solid green;
      padding-bottom: 1rem;
      position: relative;

      &#principal {
        background-color: $ph-bg-principal;
        //border: 1px solid blue;
        color: white;
        padding: 0 4px 21px 4px;
        width: 100%;
        height: auto;
        z-index: 10;

        hgroup {
          hr {
            background-color: white;
            height: 5px;
            margin: 0 auto;
            width: 80%;
          }
          h1 {
            font-family: Bodoni;
            font-size: 30px;
            padding-top: 21px;
            text-transform: uppercase;
          }
          h2 {
            font-size: 24px;
            font-family: Bodoni;
            padding-bottom: 21px;
          }
        }

        article {
          p {
            font-size: 14.3px;
          }
        }
      }

      @include media-breakpoint-up( lg ) {
        &#principal {
          position: relative;
          top: -200px;
          left: 0;
          padding: 0 142px 42px 142px;
        }
        hgroup {
          hr {
            height: 3px;
          }
          h1 {
            padding-top: 42px;
          }
          h2 {
            padding-top: 42px;
          }
        }
      }

      &#acommodations {
        background-color: $ph-bg-acommodations;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 0;

        .previous-content {
          hgroup {
            h1 {
              color: #27292F;
              font-family: 'Gotham Book';
              font-size: 26px;
              padding-top: 25px;
              text-align: center;
              text-transform: uppercase;
            }
            h2 {
              color: #979FA3;
              font-family: 'Gotham Bold';
              font-size: 26px;
              line-height: 150%;
              padding-top: 10px;
              text-transform: uppercase;
            }
          }

          article {
            text-align: center;

            p {
              text-align: left;

            }
            button {
              background-color: #E5E5E5;
              border: 3px solid #E11F25;
              border-radius: 4px;
              color: #E11F25;
              font-family: 'Gotham Book';
              margin-bottom: 50px;
              padding: 2px 8px;
              text-align: center;
              text-transform: uppercase;
            }
          }
        }

        .outstanding-image {
          padding-right: 15px;

          img {
            width: 100%;
          }
        }
      }

      @include media-breakpoint-up( lg ) {
        &#acommodations {
          margin-top: -200px;
          padding-top: 80px;
          padding-bottom: 50px;

          .previous-content {
            hgroup {
              h1 {
                font-size: 17.03px;
              }
              h2 {
                font-size: 40px;
                padding-top: 25px;
              }
            }

            article {

              p {

              }
              button {

              }
            }
          }
        }

        .outstanding-image {
          padding-right: 0;

          img {

          }
        }
      } 

      &#events {
        background-color: $ph-bg-events;

        h1 {
          color: #27292F;
          font-family: 'Gotham Book';
          font-size: 26px;
          padding-top: 25px;
          padding-bottom: 20px;
          text-align: center;
          text-transform: uppercase;
        }

        ul {
          padding-left: 0;
          //border: 1px solid blue;

          li {
            list-style: none;
            padding-bottom: 15px;

            time {
              background-color: #27292F;
              color: #F1F1F1;

              .day {
                font-size: 40px;
                padding-left: 25px;
              }
              .month {
                //border: 1px solid orange;
                float: right;
                font-size: 20px;
                margin-top: 14px;
                text-transform: uppercase;
                transform: rotate(-90deg);
                  -webkit-transform: rotate(-90deg);
                  -moz-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                  -o-transform: rotate(-90deg);
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }

      @include media-breakpoint-up( lg ) {
        &#events {

          h1 {
            font-size: 17.03px;
            padding-top: 63px;
            padding-bottom: 23px;
          }

          ul {
            //border: 1px solid blue;
            li {
              time {
                .day {}
                .month {
                  //border: 1px solid orange;
                }
              }
              img {}
            }
          }
        }
      }      
    }
  }
}
