// _fuentes.scss
@font-face {
    font-family: Bodoni;
    src: url( '../assets/fonts/bodoni.ttf' );
}

@font-face {
    font-family: 'Gotham Bold';
    src: url( '../assets/fonts/gotham-bold.ttf' );
}

@font-face {
    font-family: 'Gotham Book';
    src: url( '../assets/fonts/gotham-book.ttf' );
}

@font-face {
    font-family: 'Gotham Medium';
    src: url( '../assets/fonts/gotham-medium.ttf' );
}