// _header.scss
header {
  /* Encabezado */
  #logo {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;

    .bar {
      /* Barra encabezado 'Press Hotel' */
      background: white;
      height: 48px;
      left: 0;
      margin-top: 10px;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: .9;

      p {
        /* Texto encabezado 'Press Hotel' */
        box-sizing: border-box;
        font-family: 'Gotham Medium';
        font-size: 9px;
        left: 0;
        margin: 0;
        padding: 5px 20px;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
        top: calc( 50% - 11px );
        vertical-align: middle;
      }
    }

    img {
      /* Logo 'Press Hotel' */
      height: $ph-logo-height-xs;
      left: calc(50% - 35px);
      position: absolute;
      top: 50%;
      width: $ph-logo-width-xs;
      z-index: 2;
    }
  }

  @include media-breakpoint-up( md ) {
    #logo {

      .bar {
        height: 56px;
        margin-top: 27px;

        p {
          font-size: 11px;
          padding: 4px 25px;
        }
      }
      img {
        height: $ph-logo-height-md;
        left: calc(50% - 55px);
        width: $ph-logo-width-md;
      }
    }
  }

  @include media-breakpoint-up( lg ) {
    #logo {

      .bar {
        height: 104px;
        margin-top: 50px;

        p {
          font-size: 12px;
          padding: 0 40px;
        }
      }
      img {
        height: $ph-logo-height-lg;
        left: calc(50% - 100px);
        width: $ph-logo-width-lg;
      }
    }
  }
}
