// _variables.scss

$ph-bg-principal: black;
$ph-bg-acommodations: #F1F1F1;
$ph-bg-events: #FFFFFF;
$ph-bg-footer: #F1F1F1;

// Dimensiones Logo
$ph-logo-width-xs: 70px;
$ph-logo-height-xs: 70px;
$ph-logo-width-md: 110px;
$ph-logo-height-md: 110px;
$ph-logo-width-lg: 200px;
$ph-logo-height-lg: 200px;
